@color_white: white;
@color_orange: #f49607;

.banner-container {
    width: 100%;
    position: relative;
    min-height: 340px;
}
.banner-image {
    object-fit: contain;
    height: auto;
}
.banner-text {
    span {
        position: absolute;
        left: 14%;
        bottom: 12%;
        transition: 0.5s ease;
        text-align: center;
        color: white;
        font-size: 1em;
        font-weight: 800;
        text-transform: uppercase;
        border: 1px solid;
        padding: 7px 24px;
        border-color: @color_orange;
        z-index: 1111;
        &:hover {
            background: @color_orange;
        }
    }
}