@color_white: white;
@color_black: #101010;

.promo {
	h3 {
		position: absolute;
		left: 14%;
		bottom: 12%;
		transition: .5s ease;
		text-align: center;
		color: @color_white;
		font-size: 1em;
		font-weight: 800;
		text-transform: uppercase;
		border: 1px solid;
		padding: 7px 24px;
		border-color: @color_white;
		z-index: 1111;
		&:hover {
			color: @color_black;
			background: @color_white;
		}
	}
}
@media screen and (max-width: 430px) {
	.promo {
		h3 {
			left: 60%;
			bottom: 20%;
		}
	}
}
