img.icon-services {
    height: 110px;
}
.footer {
    background-color: #333;
}
.container {
    padding: 0 5%;
    margin: 0 auto;
}
.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid #707070;
    margin: 15px;
    padding: 0 5%;
}
.top-content {
    flex: 1 1 150px;
    text-align: center;
    padding: 20px 0;
}
.grow {
    transition: all .3s ease 0s;
    &:hover {
        transform: scale(1.2);
    }
}
.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 15px 0;
    padding: 0 5%;
}
.middle .middle-content a img {
    max-width: 250px;
}
.text-center {
    text-align: center;
}

.middle .middle-content .middle-content-title {
    margin: 20px 0;
}
.middle .middle-content a {
    text-decoration: none;
    transition: all .3s ease 0s;
}
.middle .middle-content, .middle .middle-content a {
    color: #A0A0A0;
}
.middle .middle-content a:hover {
    color: #FFF;
}

.middle .middle-content .middle-content-title {
    font-family: "Montserrat",sans-serif;
    font-size: 1.43rem;
    color: #FFF;
}
.middle .middle-content ul {
    padding-left: 15px;
}
.middle .middle-content li {
    line-height: 2;
}
.middle .middle-content .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bottom {
    background-color: #2b2b2b;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: .85em;
    padding-top: 14px;
    padding-bottom: 15px;
}

.bottom-content {
    order: 2;
    flex-grow: 1;
    text-align: center;
    padding: 5px 0;
}
.bottom-content address {
    order: 1;
}
.bottom-content.socials {
    order: 3;
}


@media screen and (max-width: 760px) {
    .top-content a > img {
        height: 70px;
    }
}

@media screen and (max-width: 1024px) {
    .middle {
        flex-flow: column wrap;
    }
    .middle .middle-content.border-bottom {
        border-bottom: 1px solid rgba(180,180,180,.27);
    }
    .middle .middle-content .middle-content-title {
        text-align: center;
    }
    .middle .middle-content ul, .middle .middle-content .contact-item {
        display: none;
    }
    .middle .middle-content.active .middle-content-links {
        display: block;
        text-align: center;
    }
    .middle .middle-content.active ul, .middle .middle-content.active .contact-item {
        display: inline-block;
        text-align: left;
    }

    .bottom-content.socials {
        order: 0;
        flex-basis: 100%;
    }
}