@color_red: #f70b0b;
@color_white: #fff;
@color_blue: #1c5580;

.product-item-info {
	text-align: center;
}
.action.primary {
	transition: .5s ease;
	background: white;
	border: 1px solid @color_red;
	color: @color_red;
	&:hover {
		background: @color_red;
		border: 1px solid @color_red;
		color: @color_white;
	}
}
.price-container {
	.price {
		color: @color_blue;
		font-size: 1.35rem;
	}
}
.product-item-actions {
	.actions-primary {
		&+.actions-secondary {
			display: none;
		}
	}
}
.products-grid {
	.product-item-info {
		&:hover {
			box-shadow: 0 0 0 0 rgba(0,0,0,0);
			border: 1px solid @color_blue;
		}
	}
	.product-item-info.active {
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
		border: 1px solid @color_blue;
	}
}
.widget {
	.block-title {
		strong {
			font-size: 1.85rem;
			line-height: 1.23;
			color: @color_blue;
			font-weight: 800;
			margin-top: 1.8rem;
			margin-bottom: .9rem;
			margin: 35px 0;
			text-transform: uppercase;
		}
	}
}
.block-title {
	text-align: center;
}
