@color_red: #f70b0b;
@color_white: white;
@color_black: #101010;
@font_family_1: "Montserrat",sans-serif;

.categories {
	display: grid;
	grid-gap: 3% 25px;
	grid-template-columns: 1fr 2fr 1fr;
}
h3.categories-title {
	text-align: center;
	color: @color_red;
	text-transform: uppercase;
	font-family: @font_family_1;
	font-size: 1.85rem;
	line-height: 1.23;
}
.category-text {
	position: absolute;
	left: 50%;
	bottom: 15%;
	transform: translateX(-50%);
	transition: .5s ease;
	text-align: center;
	color: @color_white;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid;
	padding: 2px 30px;
	border-color: @color_white;
	z-index: 1010;
	&:hover {
		background: #fff;
		color: @color_black;
		&~a {
			transition: all .5s ease;
			filter: blur(2px);
		}
	}
}
.category {
	position: relative;
}
.category-center {
	grid-row-start: 1;
	grid-row-end: span 2;
	grid-column: 2;
}
@media screen and (max-width: 767.9px) {
	.categories {
		grid-template-columns: 1fr 1fr;
	}
	.category-center {
		grid-row: 1;
		grid-column: 1;
	}
	.category.category-5 {
		grid-column-start: 1;
		grid-column-end: -1;
		margin-bottom: 10%;
		a {
			img {
				width: 100%;
			}
		}
	}
	.category-text {
		font-size: 0.7em;
		padding: 0.2em 1.2em;
	}
}
@media screen and (max-width: 374.9px) {
	.categories {
		grid-template-columns: 1fr;
	}
	.category-center {
		grid-row: 1;
		grid-column: 1;
	}
}
